.app-wrapper {
    
    display: grid;

    grid-template-areas: /* как выстраиваются, по псевдониму*/
    "h h" 
    "n c"; 
    
    grid-template-rows: 60px 1fr; /* 2 строки*/
    grid-template-columns: 2fr 10fr; /* 2*/
    /*grid-gap: 10px;*/
}

.app-wrapper-content {
    grid-area: c;
    background-color: #FFFFE0;
}


    



